snippet struct "new/delete structure" b
struct ${1:struct_name} {
	$2
};

struct $1 *new_$1(${3:void})
{
	struct $1 *$1 = malloc(sizeof(struct $1));

	${VISUAL}$0
	
	return $1;
}

void delete_$1(struct $1 *const $1)
{
	// TODO
	free($1);
}
endsnippet

snippet dbg "printf debug" b
printf("%s: %d: ${VISUAL}$0\n", __func__, __LINE__);
endsnippet

snippet pr_ "pr_info debug" b
pr_info("%s: %d: ${VISUAL}$0\n", __func__, __LINE__);
endsnippet
