[core]
	editor = nvim
	sshCommand = "/usr/bin/ssh"

[user]
	name = Georges Savoundararadj

[color]
	ui = auto

[alias]
	st = status
	b = branch
	d = diff
	co = checkout
	l = log --oneline --graph --decorate
	ll = log -1 -u
	sh = show
	g = grep
	cp = cherry-pick
	r = remote -v
	f = fetch
	lll = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
	cx = commit --amen --no-edit

[push]
	default = simple

[grep]
	lineNumber = true

[include]
	path = ~/.gitconfig.specific
[include]
	path = ~/.gitconfig.private

[merge]
	tool = meld
