[core]
	editor = nvim

[user]
	name = Georges Savoundararadj

[color]
	ui = auto

[alias]
	st = status
	b = branch
	d = diff
	co = checkout
	sh = show
	g = grep
	cp = cherry-pick

[push]
	default = simple

[grep]
	lineNumber = true
