[core]
	editor = nvim

[user]
	name = Georges Savoundararadj

[color]
	ui = auto

[alias]
	st = status
	b = branch
	d = diff
	co = checkout
	l = log --oneline --graph --decorate
	ll = log -1 -u
	sh = show
	g = grep
	cp = cherry-pick
	r = remote -v
	f = fetch

[push]
	default = simple

[grep]
	lineNumber = true

[include]
	path = ~/.gitconfig.specific
